# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask specific files
instance/
.webassets-cache

# Scrapy specific files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
# Pipfile.lock is recommended to be included in version control for libraries.
#Pipfile.lock

# poetry
# Including poetry.lock is generally recommended for binary package reproducibility.
#poetry.lock

# pdm
.pdm.toml

# PEP 582
__pypackages__/

# Celery specific files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Virtual environments
.NewsAppV2/
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm specific files
.idea/

# Specific project files (NewsAppV2)
NewsAppV2
NEWSAI
gfpgan
LongNewsProjects
Web/LongNewsProjects
Web/TalkingHeadProjects
Web/TrimmedVideos
Web/Videos
Web/YTDownloads
examples/results/*
SadTalker/gfpgan/*
SadTalker/checkpoints/*
SadTalker/assets/*
SadTalker/results/*
SadTalker/Dockerfile
SadTalker/start_docker.sh
SadTalker/start.sh

# macOS files
.DS_Store
